<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {% block title %}
                | {{ cdo_site['title'] }}
            {% endblock title %}
        </title>
        {% block stylesheets %}
            {# Bootstrap #}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('css/bootstrap-theme.min.css') }}" />
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock header %}
        </header>
        <div id="wrap">
            <div class="container-fluid">
                {% block container %}
                {% endblock container %}
            </div><!-- /.container-fluid -->
        </div><!-- /#wrap -->
        {% block footer %}
        {% endblock footer %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-2.1.3.min.js') }}"></script>
            <script type="text/javascript" src="/websites/web/js/bootstrap.min.js"></script>
        {% endblock javascripts %}
    </body>
</html>
