<div class="socialbuttons">
    <ul>
        {% if cdo_social['facebook'] %}
            <li><a href="{{ cdo_social['facebook'] }}" target="_blank" title="Facebook"><img src="{{ asset('img/social/' ~ cdo_social['color'] ~ '/Facebook.png') }}" alt="Facebook" /></a></li>
        {% endif %}
        {% if cdo_social['twitter'] %}
            <li><a href="{{ cdo_social['twitter'] }}" target="_blank" title="Twitter"><img src="{{ asset('img/social/' ~ cdo_social['color'] ~ '/Twitter.png') }}" alt="Twitter" /></a></li>
        {% endif %}
        {% if cdo_social['google'] %}
            <li><a href="{{ cdo_social['google'] }}" target="_blank" title="Google+"><img src="{{ asset('img/social/' ~ cdo_social['color'] ~ '/Google+.png') }}" alt="Google+" /></a></li>
        {% endif %}
        {% if cdo_social['linkedin'] %}
            <li><a href="{{ cdo_social['linkedin'] }}" target="_blank" title="LinkedIn"><img src="{{ asset('img/social/' ~ cdo_social['color'] ~ '/LinkedIn.png') }}" alt="LinkedIn" /></a></li>
        {% endif %}
    </ul>
</div><!-- /.socialbuttons -->