{% extends "CdoBlogBundle:Visitor/Blog:layout" ~ cdo_blog['placement'] ~ ".html.twig" %}

{% block title %}
    {{ category.title }} {{ parent() }}
{% endblock title %}

{% block post_content %}
    <div class="col-xs-9" id="postcontent">
        <h1>{{ category.title }}</h1>
        {% for post in post_collection %}
	        <h2><a href="{{ path('cdo_blog_visitor_post_show', {'slug': post.slug, 'subdomain': app.session.get('subdomain')}) }}">{{ post.title }}</a></h1>
	        <p>{{ post.content|raw }}</p>
	        <p>{{ post.releasedate|date('d/m/Y') }}</p>
        {% endfor %}
    </div><!--  /.col-xs-9 -->
{% endblock post_content %}